.blockName {
  margin-top: 0;
  padding-top: 30px;
}

.listPosts {
  list-style: none;
  &__item {
    text-align: left;
    width: 1060px;
    height: 180px;
    border: 1px solid #756f6f;
    box-shadow: 5px -5px 5px -5px grey, -5px 5px 5px -5px grey;
    border-radius: 50px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 35px;
    box-sizing: border-box;
    font-size: 19px;
    &_id {
      text-align: center;
    }
    &_title {
      display: block;
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 25px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    &_body {
      font-size: 18px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

